  <tr>
    <td><%= house.name %></td>
    <td><%= house.street_address %></td>
    <td><%= house.city %></td>
    <td><%= house.state %></td>
    <td><%= house.country %></td>
    <td><%= house.postal_code %></td>
    <td><%= house.owner %></td>
    <td><%=link_to 'Details', house_path(house), class: 'btn btn-info btn-xs' %></td>
    <td><%=link_to 'Edit', edit_house_path(house), class: 'btn btn-warning btn-xs' %></td>
    <td><%=link_to 'Delete', house_path(house), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
  </tr>