<!DOCTYPE html>
<html>
<head>
  <title>SmartHouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header text-center">
  <h1>Smart house</h1>
</div>
<% @links = [:home => ['root_path', 'glyphicon glyphicon-home']]# , 'location manager', 'surface manager', 'campaign manager', 'poster workers'] %>

<div class="col-sm-1">
  <ul class="nav nav-pills nav-stacked btn-group-vertical" role="group">
    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to root_path, {class: 'btn btn-default'} do%>
          <i class="fa fa-home"> <b>Home</b> </i> <% end %></li>
    <li class="col-xs-12" style="height:15px;"></li>
    <li class="<%= 'active' if current_page?(houses_path) %>"><%= link_to houses_path, {class: 'btn btn-default'} do%>
          <i class="fa fa-tree"> Houses </i> <% end %></li>
    <li class="<%= 'active' if current_page?(rooms_path) %>"><%= link_to rooms_path, {class: 'btn btn-default'} do%>
          <i class="fa fa-picture-o"> Rooms </i> <% end %></li>
    <!--<li class="<%#= 'active' if current_page?(campaigns_path) %>"><%#= link_to campaigns_path, {class: 'btn btn-default'} do%>
          <i class="fa fa-pencil"> Campaign Manager </i> <%# end %></li>-->
  </ul>
</div>

<div class="col-sm-10">
  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
